#portifolio {
  padding-top: 50px;
  /* padding-left: 25px; */
  background-color: #EFEFEF;
  margin-bottom: 60px;
}

.empresas{
  transition: 0.2s;
  height: 90px;
  width: 140px;
  filter: grayscale(100%);
  padding-left: 30px;
  margin-bottom: 15px;
}
.empresas:hover {
  transition: 0.4s;
  filter: grayscale(0%);
}

#carousel{
  padding-top: 25px;
}
